ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

nav {
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: 5rem;
}
.nav-center{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.nav-center h4 {
    margin-bottom: 0;
    color: rgb(26, 8, 43);
}

.nav-links {
    display: flex;
}

nav a {
    font-weight: 700;
    margin-right: 1rem;
    color: rgba(190, 56, 8, 0.849);
}

nav a:hover {
    color:rgb(18, 83, 85) ;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

.container h2 {
    margin-bottom: 3rem;
}

.btn-hero {
    background: transparent;
    border: 2px solid black;
    display: inline-block;
    padding: 0.75rem 1.25rem;
}